body{
    margin: 0;
 background-color: #dbdbdb !important;
    padding: 0
}
.navbar{
    display: flex;
    justify-content: space-around;
}
.red-hearts{
    color: red;
}
.title{
    color: green !important;
}
.background{
    background:none ;
    border: none;
}
.d-block {
 width: 400vh;
 height: 150vh;
}
.container{
padding-top: 20px;
background-color: white;
padding-bottom: 20px;

}
.row{
        border-bottom: solid 2px #dbdbdb;
   
}
.bor{
    border: none;
    padding-right: 0px!important;
    padding-left: 0!important;
}
p{
    margin: 0!important;
    padding-left: 10px;
    padding-right: 10px;
}
h6{
    margin-bottom: 0!important;
    margin-left: 3px;
}
.product{
    display: flex;
    align-items: center;
}
.quantity{
    display: flex;
    justify-content: center;
    align-items: center;
}
.favori{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-times{
    padding-right: 20px;
}
i {
    cursor: pointer;
}